{% load static %}
<!doctype html>
<html class="no-js" lang=""><!--------Theme Shered by Codingyar.com--------->

<head>
    <title>{% block title %}{% endblock %}</title>
    {% include 'include/head.html' %}
</head>

<body dir='rtl'>
<!-- Header -->
<header class="header">
    {% include 'include/header.html' %}
<div>
    {% if messages %}
        <div class="container">
        {% for message in messages %}
            <li class="alert alert-{{ message.tags }}">{{ message }}</li>
        {% endfor %}
        </div>

    {% endif %}
</div>


</header>
<!-- Header End -->

{% block body %}

{% endblock %}


<!-- Footer Start-->
<footer class="footer">
    {% include 'include/footer.html' %}
</footer>
<!-- Footer End-->

<!-- ************************* JS Files ************************* -->

{% include 'include/script.html' %}


</body>
</html>